<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../static/CBookingconfirmation.css">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Italiana' rel='stylesheet'>
  <meta charset="UTF-8">
  <title>Agua Vista Retreat</title>
</head>
<body class="body">
<div class="topnavbar">
  <div class="header-title">AGUA VISTA RETREAT</div>
</div>

<div class="booking-confirmation">
  <img src="../static/LogoMain.png" alt="Confirmation Image">
  <div class="confirmation-text">
    <div class="title">Booking Confirmed!</div>
    <div class="details">Here are the details of your booking</div>
    <div class="container">
      <div class="column">
        <div class="detail">
          <div class="label">Guest’s Name</div>
          <div class="value">John Dale</div>
        </div>
        <div class="detail">
          <div class="label">Room Type</div>
          <div class="value">Deluxe</div>
        </div>
      </div>
      <div class="column">
        <div class="detail">
          <div class="label">Check-in</div>
          <div class="value">28/08/2024</div>
        </div>
        <div class="detail">
          <div class="label">Check-out</div>
          <div class="value">29/08/2024</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</body>
</html>