<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" href="../static/CRegister.css">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Italiana' rel='stylesheet'>
  <meta charset="UTF-8">
  <title>Register</title>
</head>

<body>
<div class="gradient">
  <div class="container_navbar">
    AGUA VISTA RETREAT
  </div>
  <div class="outer-container">
    <div class="content-container">
      <div class="register-text">Register</div>
      <form th:action="@{/customers/add}" th:object="${customer}" method="post">
        <div class="input-box">
          <input type="text" id="fname" name="fname" placeholder="Name" th:field="*{fname}">
          <input type="email" id="email" name="email" placeholder="Email" th:field="*{email}">
          <input type="password" id="password" name="password" placeholder="Password" th:field="*{password}">
          <input type="password" id="cpassword" name="cpassword" placeholder="Confirm Password">
          <div class="buttons">
            <input type="submit" class="button1" value="Sign Up">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
