<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sign In Page</title>
  <link rel="stylesheet" href="../static/CSignin.css">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Italiana' rel='stylesheet'>
</head>

<body>
<div class="gradient">
  <div class="container_navbar">
    AGUA VISTA RETREAT
  </div>


  <div class="container-whole">

    <div class="header">
      <h1>AGUA VISTA RETREAT</h1>
    </div>
    <div class="container">
      <form>

        <div class="input-box">
          <div class="buttons">
            <a href="register.html" class="buttonA" type="submit" >Create Account</a>
          </div>

          <p1> or</p1>
          <br><br>
          <input type="email" id="email" name="email" placeholder="Email">
          <input type="password" id="pwd" name="pwd" minlength="8" placeholder="Password ">
        </div>

        <div class="buttons">
          <input onclick = "window.location.href='main.html';" class="buttonB" type="submit" value="Sign In">
        </div>

      </form>

    </div>


  </div>
</div>
</body>
</html>
